<?xml version="1.0" encoding="UTF-8" ?>
<phpunit
        backupGlobals="false"
        backupStaticAttributes="false"
        colors="true"
        convertErrorsToExceptions="true"
        convertNoticesToExceptions="true"
        convertWarningsToExceptions="true"
        processIsolation="false"
        stopOnFailure="false">
    <testsuites>
        <testsuite name="Albatross Test Suite">
            <directory>./phpunit/</directory>
        </testsuite>
    </testsuites>
    <coverage>
        <include>
            <directory suffix=".php">../</directory>
        </include>
    </coverage>

    <logging>
        <junit outputFile="phpunit.junit.xml"/>
    </logging>
</phpunit>